.container {
  max-width: 80%;
  background-color: white;
  padding-bottom: 100px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 5px solid orange;
}
body {
  background-color: #1f1f2d;
}
h1 {
  color: gold;
  margin: center;
}
.gif {
}
p {
  font-weight: bold;
  font-size: 24px;
}
.item {
  padding: 10px;
}
